:root {
 --plain-bg: #fff;
 --off-bg: whitesmoke;
 --light-bg-1: #fecee9;
 --light-bg-2: #eb9fef;
 --accent-text: #03254e;
 --secondary-text: #545677;
 --main-text: #011c27;
}
html {
 box-sizing: border-box;
}
*,
*:before,
*:after {
 box-sizing: inherit;
}
body {
 background-color: var(--plain-bg);
 color: var(--main-text);
 font-size: 18px;
 font-family: sans-serif;
}
a {
 color: var(--accent-text);
}
.Layout {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
 min-height: 100vh;
 background-color: var(--plain-bg);
 @media screen and (min-width: 1200px) {
  display: grid;
  grid-template-columns: 1fr 50em 20em 1fr;
  grid-template-rows: 3.5em auto;
  grid-template-areas:
   "header header header header"
   ". main nav .";
 }
 .Header {
  background-color: var(--light-bg-2);
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  height: 3.5em;
  @media screen and (min-width: 1200px) {
   grid-area: header;
  }
  h1 {
   margin: 0;
   a {
    text-decoration: none;
    color: inherit;
   }
  }
 }
 .Nav {
  background-color: var(--light-bg-1);
  width: 100%;
  nav {
   ul {
    text-align: center;
    padding: 0;
    @media screen and (min-width: 750px) and (max-width: 1199px) {
     display: flex;
     align-items: flex-start;
     justify-content: center;
    }
    li {
     list-style-type: none;
     padding: 0.2em 1em;
     a {
      text-decoration: none;
      color: inherit;
     }
    }
   }
  }
  @media screen and (min-width: 1200px) {
   grid-area: nav;
   height: 100%;
   padding-top: 1em;
   nav {
    ul {
     text-align: left;
    }
   }
  }
 }
 .Main {
  background-color: var(--off-bg);
  width: 100%;
  padding: 1em 1em;
  @media screen and (min-width: 1200px) {
   grid-area: main;
   height: 100%;
  }
  .Posts {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   @media screen and (min-width: 750px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    .post-link {
     max-width: 45%;
    }
   }
   .post-link {
    width: 100%;
    margin: 1em;
    text-decoration: none;
    color: inherit;
    .post-card {
     border: 1px solid var(--accent-text);
     padding: 1em;
    }
   }
  }
  .Post {
   .crud-buttons {
    margin: 2em 0;
    a {
     margin-right: 1em;
     border: 1px solid black;
     text-decoration: none;
     padding: 0.5em;
     color: inherit;
    }
   }
   .Comment {
    margin: 2em 0;
    .username {
     font-size: 0.8em;
     margin: 0;
    }
    .content {
     margin: 0.2em 0 0;
    }
   }
   .post-comment-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
  .EditPost {
   .edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    > * {
     margin: 1em 0;
    }
    input {
     padding: 0.5em;
    }
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
  .NewPost {
   .new-post-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    > * {
     margin: 1em 0;
    }
    input {
     padding: 0.5em;
    }
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
  .Login {
   .login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    > * {
     margin: 1em 0;
    }
    input {
     padding: 0.5em;
    }
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
  .SignUp {
   .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    > * {
     margin: 1em 0;
    }
    input {
     padding: 0.5em;
    }
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
 }
}
