html {
 box-sizing: border-box;
}

*,
*:before,
*:after {
 box-sizing: inherit;
}

body {
 // margin: 1em;
 color: hotpink;
 font-size: 18px;
 font-family: sans-serif;
}

.Layout {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
 background-color: #eee;

 .Header {
  background-color: #ddd;
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  h1 {
   margin: 0;
   a {
    text-decoration: none;
   }
  }
 }

 .Nav {
  background-color: #ccc;
  width: 100%;
  nav {
   ul {
    text-align: center;
    padding: 0;
    li {
     list-style-type: none;
     padding: 0.2em 1em;
     a {
      text-decoration: none;
     }
    }
   }
  }
 }

 .Main {
  background-color: #bbb;
  width: 100%;
  padding: 1em 1em;

  .Posts {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   .post-link {
    width: 100%;
    margin: 1em;
    text-decoration: none;
    color: inherit;
    .post-card {
     border: 1px solid black;
     padding: 1em;
    }
   }
  }

  .Post {
   .crud-buttons {
    margin: 2em 0;
    a {
     margin-right: 1em;
     border: 1px solid black;
     text-decoration: none;
     padding: 0.5em;
     color: inherit;
    }
   }
   .Comment {
    margin: 2em 0;
    .username {
     font-size: 0.8em;
     margin: 0;
    }
    .content {
     margin: 0.2em 0 0;
    }
   }
   .post-comment-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
  .EditPost {
   .edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    input {
     padding: 0.5em;
    }
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
  .NewPost {
   .new-post-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    input {
     padding: 0.5em;
    }
    textarea {
     height: 5em;
    }
    button {
     padding: 1em;
    }
   }
  }
 }
}
